<!--erbテンプレート provide(:symbol, string) → yield(:symbol-->
<!-- 4.2 provide(:title, "Home") を削除

<!-- ドキュメントタイプはlayoutファイル内で宣言する -->
<!-- <!DOCTYPE html> -->
<!-- <html> -->
    <!-- headタグはlayoutファイルに集約 -->
    <!--
    <head>
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    </head>
    -->
    <!-- layoutファイルのbodyタグ内に繁栄されるので、bodyタグは不要 -->
    <!-- <body> -->
    <h1>Sample App</h1>
    <p>
        This is the home page for the
        <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
        sample application
    </p>
    <!-- </body> -->
<!-- </html> -->